:root{
    --white-color: #fff;
    --black-color:#000;
    --topic-color: #9E0FFF;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62,5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}

.modal{
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.moder__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body{
    background-color: #FBF6FD;
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 5px;
}

